.section1{
    background: linear-gradient(to right, #ff1493, #00bfff);
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 40px;
position: absolute;
height: 519px;
width: 100%;
color: white;
}
.section1 img{
    margin-left: 60%;
    height: 500px;
    margin-top: -200px;
}
.section1 h1{
    margin-left: -700px;
    margin-top: -370px;
}
.section1 p{
width: 600px;
margin-left: -700px;
text-align: center;
}
.section2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 40px 90px;
gap: 40px;
position: absolute;
height: 411px;
width: 100%;
top: 610px;
background: #F1F1F1;
border-radius: 0px;
}
.section2 p{
    text-align: center;
    font-size: large;
    font-weight: 600;
}