.section1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 40px;
gap: 40px;

position: absolute;
width: 100%;
height: fit-content;
top: 2220px;
background: #FCFCFF;
border-radius: 0px;
}

@media (max-width: 767px) {
 .section1{
    top: 3670px;
 }
}
