.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 90px;
    gap: 40px;
    position: absolute;
    height: fit-content;
    width: 100%;
    top: 2690px;
    background: #D6DCE0;
    border-radius: 0px;
  }
  
  .section1 p {
    width: 60%;
    text-align: center;
    font-weight: 600;
  }
  
  .section1 h4 {
    margin-bottom: -15px;
  }
  
  .section1 h3 {
    font-size: 18px;
    text-align: center;
  }
  @media (max-width: 767px) {
    .section1 {
        margin-top: 3100px;
      }
      .section1 h2 {
    text-align: center;  
    }
  }
  
  

