.section1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 40px 60px;
gap: 40px;

position: absolute;
width: 100%;
height: 1239px;
top: 2900px;
background: #678398;
color: white;
border-radius: 0px;
}
.section1 h6{
    text-align: center;
}
