.section1{
    display: flex;
flex-direction: column;
align-items: center;
padding: 40px;
gap: 20px;

position: absolute;
height: 1346px;
width: 100%;
top: 6650px;

background: #F1F1F1;
border-radius: 0px;
}
.section1 img{
    margin-left: -900px;
}
.questions{
    margin-top: -70%;
    line-height: 30px;
    width: 60%;
    margin-left: 500px;
}