.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px;
    gap: 40px;
    position: absolute;
    height: fit-content;
    top: 3860px;
    width: 100%;
    height: fit-content;
    color: white;
}
.section1 img{
    width: 100%; 
}
.section1 h2{
    width: 83%;
    margin-top: -20%;
    text-align: center;
}
.section2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 40px 90px;
gap: 40px;

position: absolute;
width: 100%;
height: fit-content;

top: 4380px;
background: #FCFCFF;
border-radius: 0px;
}
